:root {
  --color-primary: #15263f;
  --color-secundary: #00fff8;
  --white: white;
  --color-line: #2e405a;
  --color-text: #8bacd9;
  --border-radius-big: 3.125rem;
  --border-radius-medium: 0.9375rem;
  --border-radius-small: 0.5rem;
  --font-size-l: 22px;
  --font-size-m: 20px;
  --font-size-s: 15px;
  --font-size-xs: 14;
  --font-weight-bold: 700;
  --font-weight-semibold: 600;
  --font-weight-regular: 300;
}
/* Variables SASS */
